{{ partial "header.html" . }}
<h1>{{ .Title }}</h1>

<nav class="filters">
  <form id="article-search" class="search" role="search">
    <div class="search-field">
      <label for="search-input">Search Articles</label>
      <input type="search" id="search-input" class="search-input" placeholder="e.g. king, oxford, cornwall">
    </div>
    <div class="form-mgmt"><button type="submit">Search</button>
    <button type="reset">Clear search</button>
  </div>
  </form>

</nav>

<section id="search-results">
<template id="search-result" hidden>
    <h3 class="article-result"><a href=""></a></h3>
</template>
</section>

<div class="listing">
  <ul class="three-col fancy">
  {{ range .Pages }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
  </ul>
</div>
{{ partial "footer.html" . }}
