{{ partial "header.html" . }}
<h1>{{ .Title }}</h1>

<nav>
  <form id="pseud-search" class="search" role="search">
    <div class="search-field">
      <label for="search-input">Search Pseudonyms</label>
      <input type="search" id="search-input" class="search-input" placeholder="e.g. Alpha">
    </div>
    <div class="form-mgmt">
      <button type="submit">Search</button>
      <button type="reset">Clear search</button>
    </div>
  </form>

</nav>

<section id="search-results">
<template id="search-result" hidden>
    <h3 class="pseud-result"><a href=""></a></h3>
</template>
</section>

{{ $groupedPages := .Pages.GroupByParam "glossary" }}

{{ if $groupedPages }}
  {{/* Anchor Navigation Bar */}}
  <nav class="glossary-nav">
    <ul>
      {{ range $groupedPages }}
        {{ if .Key }}
          <li>
            <a href="#letter-{{ .Key }}">{{ .Key }}</a>
          </li>
        {{ else }}
          <li>
            <a href="#letter-other">Other</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </nav>

  <hr />

  {{/* Grouped Content Sections */}}
  {{ range $groupedPages }}
    {{ $sectionId := cond (ne .Key "") (printf "letter-%s" .Key) "letter-other" }}

    <section id="{{ $sectionId }}">
      <h2>
        {{ if .Key }}
          {{ .Key }}
        {{ else }}
          Other / Uncategorized
        {{ end }}
      </h2>

      <ul class="list">
        {{ range .Pages }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
      </ul>
    </section>
  {{ end }}
{{ end }}

{{ partial "footer.html" . }}
