  {{ partial "header.html" . }} 
  <article class="signature-page">
    <header class="card">
      <p>Signature:</p>
      <h1>{{ .Title }}</h1>
    </header>
    
    {{ with .Params.people }}
      <section class="signature-authors">
        <h2>People who used this signature</h2>
        <div class="">
          {{ range . }}
            {{ $personPath := printf "/people/%s" .authorId }}
            {{ $personPage := site.GetPage $personPath }}

            <h3>    
              {{ if $personPage }}
                <a href="{{ $personPage.RelPermalink }}">{{ .label }}</a>
              {{ else }}
                <a href="{{ $personPath | relURL }}">{{ .label }}</a>
              {{ end }}
              </h3>

              {{ with .citations }}
                <ul class="two-col citation-list">
                  {{ range . }}
                    <li>
                      {{ if .title }}<p>{{ .title }}</p>{{ end }}
                      {{ with .nq }}<p class="citation">{{ . }}{{ end }}
                      {{ with .url }}
                        (<a href="{{ . }}" target="_blank" rel="noopener">source</a>)</p>
                        {{ else }}
                      </p>
                      {{ end }}
                      
                    </li>
                  {{ end }}
                  </ul>
              {{ end }}
            </li>
          {{ end }}
          </div>
      </section>
    {{ else }}
      <p>No authors recorded for this signature.</p>
    {{ end }}
  </article>
{{ partial "footer.html" . }} 