:root {
  --ink: #233341;
  --main: #437456;
  --accent: #eaf5f0;
  --neutral: #fffbef;
}

/* reusable elements */
.scoop {
  position: relative;
  padding: 1rem;
  z-index: 0;
}
.scoop:before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--main);
  mask:
    radial-gradient(
        1rem at 1rem 1rem,
        #0000 calc(98% - 1px),
        #000 calc(100% - 1px) 98%,
        #0000
      ) -1rem -1rem,
    linear-gradient(90deg, #000 2px, #0000 0) -1px 50% /100%
      calc(100% - 2rem + 1px) repeat-x,
    linear-gradient(#000 2px, #0000 0) 50% -1px / calc(100% - 2rem + 1px) 100%
      repeat-y;
  z-index: -10;
}

/* this is a placeholder until I get the SVG */
.knockout {
  border: solid 1px var(--main);
  padding: 0.5rem 1rem;
}
.lozenge {
  background-color: var(--main);
  color: var(--neutral);
}

/* LAYOUT */

body {
  background-color: var(--neutral);
  color: var(--ink);
  line-height: 1.5;
  margin: 0 auto;
}
.content {
  margin: 0 auto;
  max-width: 85vw;
}
.has-filters .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "h1 h1 h1 h1"
    "filters glossary-nav glossary-nav glossary-nav"
    "filters search-results search-results search-results"
    "filters listing listing listing";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  h1 {
    grid-area: h1;
    text-align: center;
    color: var(--main);
  }
  .filters {
    grid-area: filters;
    margin-right: 1rem;
    form {
      background-color: var(--accent);
      padding: 2rem 1rem;
    }
    fieldset {
      border: none;
    }
  }
  .glossary-nav {
    grid-area: glossary-nav;
  }
  #search-results {
    grid-area: search-results;
  }
  .listing {
    grid-area: listing;
  }
}
.breadcrumb {
  max-width: 85vw;
  margin: 0 auto 1rem;
}
footer {
  padding: 1rem 10rem;
  background-color: var(--accent);
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "nav . citation"
    "copyright copyright external";
  grid-gap: 1rem;
  .citation {
    grid-area: citation;
  }
  .copyright {
    grid-area: copyright;
  }
  .external {
    grid-area: external;
  }
}

/* NAVIGATION */
.site-nav {
  background-color: var(--neutral);
  margin: 0 auto;
}
.site-nav h1 {
  text-align: center;
  font-size: 1rem;
  background-color: var(--main);
  a {
    color: var(--neutral);
    border: none;
  }
}
.site-nav a {
  display: block;
  padding: 1rem;
  color: var(--main);
  text-decoration: none;
  border-bottom: solid 1px transparent;
  &:hover,
  &:active {
    border-bottom-color: var(--main);
  }
}
.site-nav .logo {
  font-weight: bold;
  padding-left: 0;
}
.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 45rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }
  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}
.breadcrumb {
  a {
    color: var(--main);
    text-decoration: none;
    border-bottom: solid 1px transparent;
    &:hover,
    &:active {
      border-bottom-color: var(--main);
    }
  }
}
.footer-nav {
  columns: 2;
  grid-area: nav;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      border-bottom: solid 1px var(--main);
      padding: 0.5rem 2.5rem 0 0;
      margin-bottom: 1rem;
      a {
        text-decoration: none;
        color: var(--main);
        font-size: 1.25rem;
      }
    }
  }
}
.external {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  a {
    color: var(--main)
  }
}

/* LISTS */
.three-col {
  columns: 3;
  column-gap: 2rem;
  padding-left: 0;
  list-style-type: none;
}
.two-col {
  columns: 2;
  column-gap: 2rem;
  padding-left: 0;
  list-style-type: none;
}
.fancy li {
  border-bottom: solid 1px var(--ink);
  padding: 1rem 0.5rem;
  break-inside: avoid;
  line-height: 1.5;
}
.citation-list {
  list-style-type: none;
  padding-left: 0;
  columns: 2;
  li {
    break-inside: avoid;
    margin-bottom: 1rem;
  }
  p {
    margin: 0;
  }
}

/* glossaries */
.glossary-nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  li {
    padding: 0.5rem;
  }
}

/* TYPE */
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  font-weight: normal;
}
.content {
  a,
  a:link,
  a:visited {
    color: var(--ink);
    text-decoration: none;
    border-bottom: solid 1px var(--ink);
    transition: all 0.25s;
  }
  a:hover,
  a:active {
    color: var(--main);
    border-bottom: solid 1px var(--main);
  }

  .lozenges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    gap: 0px;
  }
  blockquote {
    border-left: solid 5px var(--main);
    margin-left: 0;
    padding-left: 2rem;
  }
  image-compare {
    border: solid 0.75rem var(--main);
  }
  .mirador {
    position: relative;
    height: 60vh;
    @media screen and (min-width: 45rem) {
      max-width: 100vw;
      margin: 0 -40%;
    }
    border: solid 1rem var(--main);
  }
  .altname {
    font-style: italic;
  }
  .citation {
    font-size: 0.85rem;
  }
  /* <mark> styled to match PI's request */
  mark {
    background-color: transparent;
    text-decoration: underline;
  }
}

/* filters */
form.search {
  input[type="search"] {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--ink);
    display: block;
    width: 100%;
  }
  label {
    display: block;
  }
}
.form-mgmt {
  margin: 1rem;
  button {
    display: block;
    border: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 100%;
    &[type="reset"] {
      background-color: transparent;
      font-style: italic;
    }
  }
}
.date-range {
  .slider-block {
    margin-bottom: 1.5rem;
  }

  .slider-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  .multi-range-container {
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
  }

  .multi-range-container input[type="range"] {
    position: absolute;
    width: 100%;
    pointer-events: none;
    appearance: none;
    -webkit-appearance: none;
    background: none;
    margin: 0;
    z-index: 2;
  }

  /* Style the custom tracks */
  .slider-track {
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #ddd;
    border-radius: 3px;
    z-index: 1;
  }

  /* Re-enable pointer events solely for the thumbs */
  .multi-range-container input[type="range"]::-webkit-slider-thumb {
    pointer-events: auto;
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--main);
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  }

  .multi-range-container input[type="range"]::-moz-range-thumb {
    pointer-events: auto;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--main);
    cursor: pointer;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  }
}

/* DATABASE PAGE */
.db .content {
  margin: 1rem auto;
  padding: 2rem;
  .card {
    background-color: var(--accent);
    mask: radial-gradient(1rem at 1rem 1rem, #0000 98%, #000) -1rem -1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    h1 {
      color: var(--main);
    }
  }
  h2,
  h3 {
    color: var(--main);
  }
  .writing-as a {
    font-style: italic;
  }
}
