<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title | markdownify }}</title>

    {{ $style := resources.Get "css/style.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    {{ with .OutputFormats.Get "rss" -}} {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />
    ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}} {{
    with .HasShortcode "mirador" }}
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
    />
    <script src="https://unpkg.com/mirador@latest/dist/mirador.min.js"></script>
    {{ end }} 

    <!-- on list pages only, for lunr search -->
    {{ if and (not .IsPage) (in (slice "people" "pseudonyms" "articles") .Type) }}
      <script src="https://unpkg.com/lunr/lunr.js"></script>
      {{ with resources.Get "js/lunr.js" }}
        <script src="{{ .RelPermalink }}"></script>
      {{ end }}
    {{ end }}

    {{ if eq .CurrentSection "map" }}
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css"
    />
    <script
      type="text/javascript"
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"
    ></script>

    {{ end }}
    <script
      type="text/javascript"
      src="https://unpkg.com/papaparse@latest/papaparse.min.js"
    ></script>
    <link
      href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator.min.css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://unpkg.com/tabulator-tables@6.3.1/dist/js/tabulator.min.js"
    ></script>
  </head>

  <body 
    class="
      {{ if and (not .IsPage) (in (slice "people" "pseudonyms" "articles") .Type) }}has-filters {{ end }}
      {{ if and (.IsPage) (in (slice "people" "pseudonyms" "articles") .Type) }}db {{ end }}
    ">
    {{ partial "head.html" . }}

    <main class="content">